<h2><%= @category_name %></h2>
<div class="posts">
  <ul>
  <% Post.where("category_id = ?", @category_id).each do |post| %>
    <div class="post-content"><li><%= post.content %></li></div>
    <li>Price: <%= post.price %> Gold</li>
    <li>Posted By: <a href="mailto:<%= post.email %>"><%= post.author %></a></li>
    <br />
  <% end %>
  </ul>
</div>
